/* Selector {
    Property: value;
} */

/* p {
    color: #03b1fc
} */
body {
    background-color: #1A1A1A;
}

li{
    list-style: none;
    display: inline-block;
    color: white;
}

p{
    color: white;
}

.welcome{
    border: 3px solid;
    /* background-image: url(adeolu-eletu-E7RLgUjjazc-unsplash.jpg); */
    background-size: 100% 100%;
    color: #777676;
    line-height: 20px;
}

.welcome > p {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
}

h1 {
    text-align: center;
    /* border: 4px solid; */
    cursor: pointer;
    color: white;
}

h3:hover{
    color: white;
    text-align: center;
}

.award{
    color: #03b1fc;
    background-color: black;
}

/* Shifts the image to either the right or left */
img{
    float: left;
}

#lorem > p{
    text-align: center;
    /* text-decoration: underline; */
    text-transform: uppercase;
    line-height: 30px;
    color: white;
    font-style: italic;
}

footer{
    text-align: center;
}